<div class="timeline">
  {{#if events}}
    <ul>
      {{#each events as |event|}}
        {{timeline-event
          event=event
          isSelected=(contains selectedEvents event)
          isHighlighted=(eq highlightedEvent event)
          selectEvent=(action selectEvent)
          toggleEventSelection=(action toggleEventSelection)
          highlightEvent=(action highlightEvent)
        }}
      {{/each}}
    </ul>
  {{else}}
    <p class="placeholder">
      No events
    </p>
  {{/if}}
</div>

<div class="controls">
  <div>
    <button {{action addEvent 'go-to-point'}} title="Add 'go to point' event after the selected event">{{fa-icon 'map-marker'}}</button>
    <button {{action addEvent 'go-to-wall'}} title="Add 'go to wall' event after the selected event">{{fa-icon 'step-forward'}}</button>
    <button {{action addEvent 'drop-cube'}} title="Add 'drop cube' event after the selected event">{{fa-icon 'cube'}}</button>
    <button {{action addEvent 'toggle-localisation'}} title="Add 'toggle localisation' event after the selected event">{{fa-icon 'globe'}}</button>
    <button {{action addEvent 'wait'}} title="Add 'wait' event after the selected event">{{fa-icon 'clock-o'}}</button>
    <button {{action addEvent 'message'}} title="Add 'message' event after the selected event">{{fa-icon 'comment-o'}}</button>
  </div>
  <div class="right">
    <button {{action deleteEvent}} title="Delete the selected event">{{fa-icon 'trash'}}</button>
  </div>
</div>
