<header>
  <button class="rename">{{fa-icon 'pencil'}}</button>
  <h2>{{instructions.name}}</h2>
  <button class="delete">{{fa-icon 'times'}}</button>
</header>

<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" width="278" height="150">
  <g class="scroll-offset {{selectedLayerName}}-layer-selected" transform={{scrollTransform}}>
    {{svg-shapes/path
      line=instructions.path
      viewport=viewport
      tagName=''
    }}
  </g>
</svg>

<div class="date-modified">Last modified {{moment-from-now instructions.modified}}</div>