{{#if (eq event.type 'go-to-point')}}
  <span>{ x: {{event.x}}, y: {{event.y}} }</span>
{{/if}}

{{#if (eq event.type 'drop-cube')}}
  <span>
    Drop Cube:
    {{if (eq event.servoIndex 2) 'Left 1'}}
    {{if (eq event.servoIndex 1) 'Left 2'}}
    {{if (eq event.servoIndex 5) 'Right 1'}}
    {{if (eq event.servoIndex 0) 'Right 2'}}
    {{if (eq event.servoIndex 3) 'Front 1'}}
    {{if (eq event.servoIndex 4) 'Front 2'}}
  </span>
{{/if}}

{{#if (eq event.type 'go-to-wall')}}
  <span>Go To Wall: {{if (eq event.sensorToUse 1) 'Right' (if (eq event.sensorToUse 2) 'Front' 'Left')}}</span>
{{/if}}

{{#if (eq event.type 'toggle-localisation')}}
  <span>Toggle Localisation: {{if event.enableLocalisation 'Enable' 'Disable'}}</span>
{{/if}}

{{#if (eq event.type 'wait')}}
  <span>
    Wait: {{event.timeToWait}}ms
  </span>
{{/if}}

{{#if (eq event.type 'message')}}
  <span>
    Message
  </span>
{{/if}}
