{{#if (eq event.type 'go-to-point')}}
  <span>{ x: {{event.x}}, y: {{event.y}} }</span>
{{/if}}

{{#if (eq event.type 'drop-cube')}}
  <span>
    Drop Cube
    {{~#if event.servoIndex~}}
      : {{event.servoIndex}}
    {{/if}}
  </span>
{{/if}}

{{#if (eq event.type 'go-to-wall')}}
  <span>Go To Wall: {{if (eq event.sensorToUse 1) 'Right' (if (eq event.sensorToUse 2) 'Front' 'Left')}}</span>
{{/if}}

{{#if (eq event.type 'toggle-localisation')}}
  <span>Toggle Localisation: {{if event.enableLocalisation 'Enable' 'Disable'}}</span>
{{/if}}

{{#if (eq event.type 'wait')}}
  <span>
    Wait: {{event.timeToWait}}ms
  </span>
{{/if}}
