<header>
  <a {{action jumpEventSelection -1}} class={{unless hasPreviousEvent 'disabled'}}>{{fa-icon 'caret-left'}}</a>
  <h2>Go To Point Event</h2>
  <a {{action jumpEventSelection 1}} class={{unless hasNextEvent 'disabled'}}>{{fa-icon 'caret-right'}}</a>
</header>

<div class="controls">
  <div class="control">
    <label>X</label>
    {{input value=event.x type="number"}}
  </div>
  
  <div class="control">
    <label>Y</label>
    {{input value=event.y type="number"}}
  </div>
  
  <div class="control">
    <label>Max Speed</label>
    {{input value=event.maxSpeed step="0.05" type="number"}}
  </div>
  
  <div class="control">
    <label>Radius</label>
    {{input value=event.radius type="number"}}
  </div>
  
  <div class="control">
    <label>Relative X</label>
    {{input value=event.relativePointX type="number"}}
  </div>
  
  <div class="control">
    <label>Relative Y</label>
    {{input value=event.relativePointY type="number"}}
  </div>
  
  <div class="control">
    <label>Point To Face X</label>
    {{input value=event.pointToFaceX type="number"}}
  </div>
  
  <div class="control">
    <label>Point To Face Y</label>
    {{input value=event.pointToFaceY type="number"}}
  </div>
  
  <div class="control">
    <label>Ramp Min Value</label>
    {{input value=event.rampMinValue step="0.05" type="number"}}
  </div>
  
  <div class="control">
    <label>Ramp Distance</label>
    {{input value=event.rampDistance step="50" type="number"}}
  </div>
  
  <div class="control">
    <label>Error Correction P</label>
    {{input value=event.errorCorrectionP step="0.0005" type="number"}}
  </div>
  
  <div class="control">
    <label>P Saturation</label>
    {{input value=event.pSaturation step="0.05" type="number"}}
  </div>
  
  <div class="control">
    <label>Face Point P</label>
    {{input value=event.facePointP step="0.005" type="number"}}
  </div>
  
  <div class="control">
    <label>FPP Saturation</label>
    {{input value=event.facePointPSaturation step="0.05" type="number"}}
  </div>
  
  <div class="control">
    <label>Acceleration</label>
    {{input value=event.acceleration step="0.05" type="number"}}
  </div>
  
  <div class="control">
    <label>Tolerance</label>
    {{input value=event.tolerance type="number"}}
  </div>
  
  <div class="control">
    <label>Ramp Curve Exp.</label>
    {{input value=event.rampCurveExponent step="0.1" type="number"}}
  </div>
  
  <div class="control">
    <label>Face</label>
    {{input value=event.face type="number"}}
  </div>
  
  <div class="control">
    <label>Angle To Face</label>
    {{input value=event.angleToFace step="1" type="number"}}
  </div>
  
  <div class="control">
    <label title="Curve Error Correction P">CECP</label>
    {{input value=event.curveErrorCorrectionP step="0.0005" type="number"}}
  </div>
  
  <div class="control">
    <label>Servo Index</label>
    {{input value=event.servoIndex type="number"}}
  </div>
  
  <div class="control">
    <label>Sensor To Use</label>
    {{input value=event.sensorToUse type="number"}}
  </div>
  
  <div class="control">
    <label>Go To Wall P Gain</label>
    {{input value=event.goToWallPGain type="number"}}
  </div>

  <div class="control">
    <label>Stop at end</label>
    {{input checked=event.stopAtEndOfLine type="checkbox"}}
  </div>
</div>
