<header>
  <a {{action jumpEventSelection -1}} class={{unless hasPreviousEvent 'disabled'}}>{{fa-icon 'caret-left'}}</a>
  <h2>Go To Wall Event</h2>
  <a {{action jumpEventSelection 1}} class={{unless hasNextEvent 'disabled'}}>{{fa-icon 'caret-right'}}</a>
</header>

<div class="controls">
  <div class="control">
    <label>Face Point P</label>
    {{input value=event.facePointP step="0.005" type="number"}}
  </div>

  <div class="control">
    <label>Sensor To Use</label>
    {{input value=event.sensorToUse type="number"}}
  </div>
</div>
