<header>
  <a {{action selectPreviousEvent}} class={{unless hasPreviousEvent 'disabled'}}>{{fa-icon 'caret-left'}}</a>
  <h2>Go To Point Event</h2>
  <a {{action selectNextEvent}} class={{unless hasNextEvent 'disabled'}}>{{fa-icon 'caret-right'}}</a>
</header>

<div class="controls">
  <div class="control">
    <label>X</label>
    {{input
      value=event.x
      type="number"}}
  </div>
  
  <div class="control">
    <label>Y</label>
    {{input
      value=event.y
      type="number"}}
  </div>
  
  <div class="control">
    <label>Radius</label>
    {{input
      value=event.radius
      type="number"}}
  </div>
  
  <div class="control">
    <label>Face</label>
    {{input
      value=event.face
      type="number"}}
  </div>
  
  <div class="control">
    <label>Ramp min value</label>
    {{input
      value=event.rampMinValue
      type="number"}}
  </div>
  
  <div class="control">
    <label>Ramp distance</label>
    {{input
      value=event.rampDistance
      type="number"}}
  </div>
  
  <div class="control">
    <label>Error corr. P</label>
    {{input
      value=event.errorCorrectionP
      type="number"}}
  </div>
  
  <div class="control">
    <label>P saturation</label>
    {{input
      value=event.pSaturation
      type="number"}}
  </div>
  
  <div class="control">
    <label>Face point P</label>
    {{input
      value=event.facePointP
      type="number"}}
  </div>
  
  <div class="control">
    <label>FPP Saturation</label>
    {{input
      value=event.facePointPSaturation
      type="number"}}
  </div>
  
  <div class="control">
    <label>Max Speed</label>
    {{input
      value=event.maxSpeed
      type="number"}}
  </div>
  
  <div class="control">
    <label>Acceleration</label>
    {{input
      value=event.acceleration
      type="number"}}
  </div>
  
  <div class="control">
    <label>Tolerance</label>
    {{input
      value=event.tolerance
      type="number"}}
  </div>
  
  <div class="control">
    <label>Ramp Curve Exp.</label>
    {{input
      value=event.rampCurveExponent
      type="number"}}
  </div>
  
  <div class="control">
    <label>Stop at end</label>
    {{input
      value=event.stopAtEndOfLine
      type="number"}}
  </div>
</div>