<header>
  <a {{action jumpEventSelection -1}} class={{unless hasPreviousEvent 'disabled'}}>{{fa-icon 'caret-left'}}</a>
  <h2>Go To Wall Event</h2>
  <a {{action jumpEventSelection 1}} class={{unless hasNextEvent 'disabled'}}>{{fa-icon 'caret-right'}}</a>
</header>

<div class="controls">
  <div class="control">
    <label>Face Point P</label>
    {{input value=event.facePointP step="0.005" type="number"}}
  </div>

  <div class="control">
    <label>Sensor To Use</label>
    {{#x-select value=event.sensorToUse as |xs|}}
      {{#xs.option value=0}}Left{{/xs.option}}
      {{#xs.option value=1}}Right{{/xs.option}}
      {{#xs.option value=2}}Front{{/xs.option}}
    {{/x-select}}
  </div>
</div>
