{{path-editor
  tool=tool
  viewport=mapViewport
  layers=layers
  map=model.map
  path=path
  selectedEvents=selectedEvents
  highlightedEvent=highlightedEvent
  pathDidChange=(action 'updateEvents')
  addPoint=(action 'addPoint')
  selectPoint=(action 'selectEvent')
  togglePointSelection=(action 'toggleEventSelection')
  addPointsToSelection=(action 'addEventsToSelection')
  highlightEvent=(action 'highlightEvent')
}}

<aside class="ui-modules">
  {{map-mode-navigator}}

  <div class="ui-module tool-selector">
    <ul>
      <li class="{{if (eq tool 'path') 'active'}}" title="Path creation tool (P)" {{action 'selectTool' 'path'}}>
        {{fa-icon 'pencil'}} Line
      </li>

      <li class="{{if (eq tool 'selection') 'active'}}" title="Selection tool (S)" {{action 'selectTool' 'selection'}}>
        {{fa-icon 'square-o'}} Selection
      </li>
      
      <li class="{{if (eq tool 'move') 'active'}}" title="Move tool (M)" {{action 'selectTool' 'move'}}>
        {{fa-icon 'hand-paper-o'}} Move
      </li>
    </ul>
  </div>

  {{event-timeline
    events=eventsForTimeline
    selectedEvents=selectedEvents
    highlightedEvent=highlightedEvent
    addEvent=(action 'addEvent')
    deleteEvent=(action 'deleteEvent')
    selectEvent=(action 'selectEvent')
    addEventsToSelection=(action 'addEventsToSelection')
    highlightEvent=(action 'highlightEvent')
  }}

  <div class="ui-module connection">
    <div class="connection-indicator {{if connection.isConnected 'connected'}} {{if connection.isConnecting 'connecting'}}">
      {{#if connection.isConnecting}}
        {{fa-icon 'circle-o-notch' spin=true}}
      {{/if}}
      
      {{#if connection.isConnected}}
        {{fa-icon 'check'}}
      {{/if}}

      {{#unless (or connection.isConnecting connection.isConnected)}}
        {{fa-icon 'times'}}
      {{/unless}}
    </div>
    
    {{input value=connection.address}}
    
    {{#if connection.isConnecting}}
      <button {{action 'disconnect'}}>Cancel</button>
    {{/if}}
    
    {{#if connection.isConnected}}
      <button {{action 'disconnect'}}>Disconnect</button>
    {{/if}}
    
    {{#unless (or connection.isConnecting connection.isConnected)}}
      <button {{action 'connect'}}>Connect</button>
    {{/unless}}
  </div>
</aside>

{{#if compiledEvent}}
  <aside class="ui-modules attributes">
    {{component (concat 'event-editors/' compiledEvent.type)
      event=compiledEvent
      hasNextEvent=hasNextEvent
      hasPreviousEvent=hasPreviousEvent
      jumpEventSelection=(action 'jumpEventSelection')
    }}
  </aside>
{{/if}}
