{{path-editor
  tool=tool
  viewport=mapViewport
  layers=layers
  map=model.map
  path=path
  add=(action 'addPath')
  selectHandle=(action 'selectHandle')
  deselectAll=(action 'deselectAll')
  highlightPoint=(action 'highlightPoint')
  setPoints=(action 'setPathPoints')}}

<aside class="ui-modules">
  {{map-mode-navigator}}

  <div class="ui-module tool-selector">
    <ul>
      <li class="{{if (eq tool 'path') 'active'}}" title="Path creation tool (P)" {{action 'selectTool' 'path'}}>{{fa-icon 'pencil'}}</li>
      <li class="{{if (eq tool 'selection') 'active'}}" title="Selection tool (S)" {{action 'selectTool' 'selection'}}>{{fa-icon 'square-o'}}</li>
      <li class="{{if (eq tool 'move') 'active'}}" title="Move tool (M)" {{action 'selectTool' 'move'}}>{{fa-icon 'hand-paper-o'}}</li>
    </ul>
  </div>

  {{event-timeline path=path}}

  <div class="ui-module connection">
    <div class="connection-indicator {{if connection.isConnected 'connected'}} {{if connection.isConnecting 'connecting'}}">
      {{#if connection.isConnecting}}
        {{fa-icon 'circle-o-notch' spin=true}}
      {{/if}}
      
      {{#if connection.isConnected}}
        {{fa-icon 'check'}}
      {{/if}}

      {{#unless (or connection.isConnecting connection.isConnected)}}
        {{fa-icon 'times'}}
      {{/unless}}
    </div>
    {{input value=connection.address}}
    
    {{#if connection.isConnecting}}
      <button {{action 'disconnect'}}>Cancel</button>
    {{/if}}
    
    {{#if connection.isConnected}}
      <button {{action 'disconnect'}}>Disconnect</button>
    {{/if}}
    
    {{#unless (or connection.isConnecting connection.isConnected)}}
      <button {{action 'connect'}}>Connect</button>
    {{/unless}}
  </div>
</aside>

<aside class="ui-modules attributes">
  {{event-editor point=selectedPoint setProperty=(action 'setPointProp')}}  
</aside>
