{{path-editor
  viewport=mapViewport
  layers=layers
  map=model.map
  path=path
  add=(action 'addPath')
  selectHandle=(action 'selectHandle')
  deselectAll=(action 'deselectAll')
  setPoints=(action 'setPathPoints')}}

<aside class="ui-modules">
  {{map-mode-navigator}}
  {{path-item point=selectedPoint setProperty=(action 'setPointProp')}}
  {{path-timeline path=path}}

  <div class="ui-module connection">
    <div class="connection-indicator {{if connection.isConnected 'connected'}} {{if connection.isConnecting 'connecting'}}"></div>
    <button {{action 'connect'}}>Connect</button>
  </div>
</aside>
