{{path-editor
  viewport=mapViewport
  layers=layers
  map=model.map
  path=path
  add=(action 'addPath')
  selectHandle=(action 'selectHandle')
  deselectAll=(action 'deselectAll')
  setPoints=(action 'setPathPoints')}}

<aside class="ui-modules">
  {{map-mode-navigator}}
  {{event-timeline path=path}}

  <div class="ui-module connection">
    <div class="connection-indicator {{if connection.isConnected 'connected'}} {{if connection.isConnecting 'connecting'}}"></div>
    {{input value=connection.address}}
    <button {{action 'connect'}}>Connect</button>
  </div>
</aside>

<aside class="ui-modules attributes">
  {{event-editor point=selectedPoint setProperty=(action 'setPointProp')}}  
</aside>
